include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body.light
		.main
			include ../common/l-header
			include ../common/l-home
		include ../common/footer
		include ../common/modal
	// END body