include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		.main.promo-main
			include ../common/header
			include ../common/promo-home
		include ../common/footer
		include ../common/modal
	// END body