.home {
    position: relative; 
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (max-width: 1919px) {
        overflow: hidden;
    }
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        padding-bottom: 27px;
        padding-top: 70px;
    }
    @media screen and (max-width: 749px){
        padding-top: 53px;
        padding-bottom: 48px;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            flex-wrap: wrap;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            padding-right: 11%;
        }
    }
    &__body {
        width: 70%;
        padding-top: 17px;
        padding-right: 20px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            width: 100%;
            padding-left: 21px;
            padding-bottom: 50px;
        }
        @media screen and (max-width: 749px){
            padding-left: 0;
            padding-right: 0;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            padding-top: 59px;
        }
    }
    &__title {
        font-family: "AABebasNeue", Arial, Helvetica, sans-serif;
        font-size: 59px;
        line-height: 65px;
        color: #e8ebf4;
        letter-spacing: 4px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            font-size: 49px;
            line-height: 55px;
        }
        @media screen and (max-width: 749px){
            font-size: 35px;
            line-height: 39px;
            text-align: center;
            letter-spacing: 3px;
            left: 6px;
            position: relative;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            font-size: 43px;
            line-height: 48px;
        }
        &--accent {
            color: #ff9232;
        }
    }
    &__subtitle {
        font-family: "AABebasNeue", Arial, Helvetica, sans-serif;
        font-size: 54px;
        line-height: 65px;
        margin-left: 21px;
        margin-bottom: 52px;
        letter-spacing: 4px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            font-size: 47px;
            line-height: 55px;
            margin-bottom: 41px;
        }
        @media screen and (max-width: 749px){
            max-width: 265px;
            font-size: 25px;
            line-height: 35px;
            letter-spacing: 2px;
            margin-bottom: 35px;
            padding-left: 0;
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 3px;
            margin-bottom: 36px;
        }
        &--other {
            display: inline-block;
            // background: #222632;
            padding: 0 30px;
            border-radius: 7px;
            // box-shadow: 0px 5px 15px -3px rgba(4,8,20,0.75);
            position: relative;
            z-index: 1;
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                padding: 0 30px 0 23px;
            }
            @media screen and (max-width: 749px){
                padding: 0 21px;
            }
            @media screen and (max-height: 850px) and  (min-width: 1081px) {
                padding: 6px 15px 0 20px;
            }
            &:first-child {
                position: relative;
                z-index: 2;
            }

            &+.home__subtitle--other {
                margin-top: -3px;
                margin-left: 17px;
                padding: 0 25px;
                @media only screen and (max-width: 1350px) and (orientation: portrait),
                screen and (max-width: 1080px) {
                    padding: 0 20px 0 27px;
                }
                @media screen and (max-width: 749px){
                    margin-left: 6px;
                    padding-left: 10px;
                    padding-right: 9px;
                }
                @media screen and (max-height: 850px) and  (min-width: 1081px) {
                    margin-top: -6px;
                    margin-left: 10px;
                    padding: 0 20px;
                    
                }   
            }
            &:before {
                content: "";
                position: absolute;
                bottom: 2px;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 7px;
                background: #222632;
                box-shadow: 7px 5px 15px -3px rgba(4,8,20,.75);
                animation-name: fadeIn;
                animation-duration: 8s;
                animation-delay: 1s;
                animation-fill-mode: both;
                z-index: -1;
            }
        }
    }
    &__text {
        position: relative;
        max-width: 500px;
        font-size: 20px;
        line-height: 30px;
        margin-left: 60px;
        margin-bottom: 75px;
        font-weight: 200;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            margin-left: 55px;
        }
        @media screen and (max-width: 749px){
            font-size: 17px;
            line-height: 25px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 60px;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            max-width: 400px;
            font-size: 15px;
            line-height: 23px;
            margin-left: 51px;
            margin-bottom: 32px;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -99px;
            right: 51px;
            width: 62px;
            height: 79px;
            background: url('../img/arrow.png') no-repeat;
            background-size: contain;
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                bottom: -106px;
                right: 83px;
            }
            @media screen and (max-width: 749px) {
                content: none;
            }
        }
        span {
            font-weight: 700;
        }
        @media screen and (max-width: 1115px) {

        }
        @media screen and (max-width: 880px) {

        }
        @media screen and (max-width: 500px) {

        }
    }
    &__btn {
        margin-left: 80px;
        margin-bottom: 40px;
        display: flex;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            margin-left: 53px;
        }
        @media screen and (max-width: 749px){
            margin-left: 0;
            margin-bottom: 34px;
            justify-content: center;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            margin-left: 62px;
        }
    }
    .agree {
        max-width: 440px;
        margin-left: 70px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            margin-left: 42px;
        }
        @media screen and (max-width: 749px){
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            max-width: 395px;
            margin-left: 52px;
            letter-spacing: 1px;
        }
    }
}
.agree {
    display: flex;
    color: #9d9d9d;
    font-size: 15px;
    @media screen and (max-width: 749px){
        font-size: 12px;
        line-height: 18px;
        padding-right: 26px;
    }
    @media screen and (max-height: 850px) and  (min-width: 1081px) {
        font-size: 11px;
        line-height: 17px;
    }
    img {
        width: 27px;
        height: 32px;
        margin-right: 17px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            margin-right: 21px;
        }
        @media screen and (max-width: 749px){
            margin-right: 14px;
        }
    }
    &__policy {
        text-decoration: underline;
    }
}
.advantages {
    width: 30%;
    max-width: 228px;
    color: #090303;

    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        display: flex;
        align-items: flex-start;
        width: 100%;
        max-width: none;
        padding: 0 16px 0 33px;
    }
    @media screen and (max-width: 749px){
        flex-wrap: wrap;
        padding-right: 33px;
        max-width: 392px;
        margin: 0 auto;
    }
    @media screen and (max-height: 850px) and  (min-width: 1081px) {
        max-width: 168px;
    }
    &__item {
        background: url('../img/bg-item.png');
        background-repeat: no-repeat;
        background-size: 129% 100%;
        background-position: center;
        padding: 76px 30px 100px 30px;
        position: relative;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            width: 33%;
        }
        @media screen and (max-width: 749px){
            width: 100%;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            padding: 67px 30px 89px 20px;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 59px;
            right: 0;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &:nth-child(1) {
            margin-top: -16px;
            &:after {
                width: 179px;
                height: 177px;
                background-image: url('../img/doc.png');
                right: -110px;
                @media only screen and (max-width: 1350px) and (orientation: portrait),
                screen and (max-width: 1080px) {
                    top: 37px;
                    right: -116px;
                }
                @media screen and (max-width: 749px){
                    top: 67px;
                    right: -109px;
                }
                @media screen and (max-height: 850px) and  (min-width: 1081px) {
                    width: 114px;
                    height: 134px;
                    right: -64px;
                }
            }
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                margin-top: 55px;
                padding-bottom: 76px;
            }
            @media screen and (max-width: 749px){
                margin-top: -15px;
                padding-top: 81px;
                padding-bottom: 83px;
            }
            @media screen and (max-height: 850px) and  (min-width: 1081px) {
                margin-top: 3px;
            }
        }
        &:nth-child(2) {
            padding-top: 88px;
            padding-bottom: 120px;
            margin-top: -105px;
            &:after {
                width: 165px;
                height: 164px;
                background-image: url('../img/money.png');
                top: 52px;
                right: -81px;
                @media only screen and (max-width: 1350px) and (orientation: portrait),
                screen and (max-width: 1080px) {
                    right: -71px;
                    top: 15px;
                }
                @media screen and (max-width: 749px){
                    top: 60px;
                    right: -81px;

                }
                @media screen and (max-height: 850px) and  (min-width: 1081px) {
                    width: 128px;
                    height: 129px;
                    right: -66px;
                }
            }
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                margin-top: 32px;
                padding-bottom: 104px;
            }
            @media screen and (max-width: 749px){
                margin-top: -94px;
                padding-top: 95px;
            }
            @media screen and (max-height: 850px) and  (min-width: 1081px) {
                padding-top: 83px;
                padding-bottom: 103px;
            }
        }
        &:nth-child(3) {
            padding-top: 85px;
            padding-bottom: 86px;
            margin-top: -96px;
            &:after {
                width: 101px;
                height: 144px;
                background-image: url('../img/win.png');
                top: 81px;
                right: -46px;
                @media screen and (max-width: 749px){
                    top: 94px;
                }
                @media screen and (max-height: 850px) and  (min-width: 1081px) {
                    width: 86px;
                    height: 111px;
                    top: 73px;
                    right: -44px;
                }
            }
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                margin-top: 8px;
                padding-top: 91px;
                padding-left: 23px;
                padding-bottom: 82px;
            }
            @media screen and (max-width: 749px){
                margin-top: -92px;
                padding-top: 98px;
                padding-left: 29px;
            }
            @media screen and (max-height: 850px) and  (min-width: 1081px) {
                padding-top: 78px;
                padding-bottom: 66px;
            }
        }
    }
    &__title {
        font-weight: 200;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 9px;
        text-transform: uppercase;
        letter-spacing: 1px;
        max-width: 170px;
        span {
            font-weight: 700;
        }

        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            font-size: 11px;
            line-height: 15px;
        }
    }
    &__text {

        color: #505050;
        font-size: 14px;
        line-height: 20px;
        padding-left: 5px;
        letter-spacing: 1px;
        max-width: 170px;

        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            font-size: 10px;
            line-height: 14px;
        }
    }
}

.time_of_day_hello {
    display: inline-block;
    padding-right: 5px;
}