.footer {
    padding: 19px 0 20px;
    background: #07090e;
    font-size: 14px;
    font-weight: 200;
    .wrap {
        display: flex;
        align-items: center;
    }
    &__item {
        padding-right: 23px;
        letter-spacing: 0.5px;
        color: #fff;
        opacity: 47%;
        letter-spacing: 1px;
    }

}
.rights {
    margin-right: 40px;
}
