nav {
    a {
        color: #fff;
        @media screen and (max-width: 749px){
            color: #090f21;
        }
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.header {
    &__adress {
        color: #686868;
        font-size: 14px;
        margin-top: 5px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            margin-top: 7px;
        }
        @media screen and (max-width: 749px){
            order: 1;
            margin-top: 2px;
            text-align: left;
            letter-spacing: 1px;
        }
    }
    &__phone {
        margin-top: 12px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            margin-top: 9px;
        }
        span {
            font-size: 24px;
        }
    }
    &__group {
        @media screen and (max-width: 749px){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            padding: 4px 10px 0;
        }
    }
}
.logo {
    margin-top: 10px;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        margin-top: 14px;
    }
    @media screen and (max-width: 749px){
        margin: 2px auto 0;
    }
    img {
        width: 225px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            width: 197px;
        }
        @media screen and (max-width: 749px){
            width: 178px;
        }
    }
}
.social {
    display: flex;
    transition: 0.3s;
    font-size: 16px;
    margin-top: 12px;
    @media screen and (max-width: 749px){
        padding: 0 11px;
        justify-content: center;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 5px 11px;
        border-radius: 7px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            padding: 5px 7px;
        }
        @media screen and (max-width: 749px){
            padding: 5px 11px;
        }
        &+.social__item {
            margin-left: 10px;
        }
    }
    img {
        margin-right: 7px;
    }
    &--viber {
        background: #222632;
        transition: 0.3s;
        img {
            width: 20px;
            height: 20px;
        }
        &:hover {
            background: #7d3daf;
        }
    }
    &--telegram {
        background: #222632;
        transition: 0.3s;
        @media screen and (max-width: 749px){
            padding: 5px 7px;
        }
        img {
            width: 17px;
            height: 17px;
        }
        &:hover {
            background: #039be5;
        }
    }
    a {
        color: #fff;
    }
}
.social-text {
    @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
        position: relative;
        top: 2px;
    }
}

.mob {
    display: none;
    @media only screen and (max-width:  749px){
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        width: 35px;
        height: 35px;
        top: 0;
        right: -4px;
    }
    &-phone {
        @media only screen and (max-width:  749px){
            display: flex;
        }
    }
}

.menu-wrap {
    width: 68%;
}
.menu-toggle {
    display: none;
}
.cross {
    display: none;
}
.main-menu {
    font-size: 17px;
    ul {
        display: flex;
        justify-content: space-between;
    }
    a  {
        display: flex;
    }
    .support {
        display: flex;
        align-items: center;
        height: 100%;
        @media screen and (max-width: 749px){
            margin-bottom: 20px;
            justify-content: center;
        }
        &__text {
            @media screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                display: none;
            }
            @media only screen and (max-width: 749px) {
                display: block;
            }
        }
        img {
            width: 20px;
            height: 25px;
            margin-right: 10px;
            @media screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                margin-left: 10px;
            }
        }
        &__icon {
            &--desctop {
                @media only screen and (max-width: 749px) {
                    display: none;
                }
            }
            &--mob {
                display: none;
                @media only screen and (max-width: 749px) {
                    display: block;
                }
            }
        }
    }

}

