
.light {
    color: #1a1a24;
    background: #fff url(../img/l-main-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    .main {
        background: #fff url(../img/l-main-bg.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    //header
    nav a {
        color: #222532;
    }
    .social a {
        color: #fff;
    }
    //home
    .home {
        &__title {
            color: #222532;
        }
        &__subtitle {
            color: #e8ebf4;
        }
        &__text {
            min-width: 492px;
        }
        &__tooltip {
            .tooltip__title {
                max-width: 190px;
                display: flex;
                align-items: center;
                padding: 0 20px;
                font-size: 24px;
                line-height: 32px;
                text-decoration: underline;
                font-family: "AABebasNeue", Arial, Helvetica, sans-serif;
                color: #ff8c2c;
            }
            .tooltip__body-wrap {
                top: -100px;
                left: 100px;
                min-width: 676px;
            }
            .tooltip__body {
                font-size: 14px;
                color: #262a38;
                font-weight: 200;
                padding: 100px;
                background: url('../img/l-home-tooltip.png') no-repeat;
                background-position: center;
            }
        }
        .agree {
            font-size: 14px;
            line-height: 21px;
            max-width: 469px;
        }
    }
}
.text--cross {
    text-decoration: line-through;
}
.text--bold {
    font-weight: 700;
}