section.home
    .wrap
        .home__body 
            .home__title.animated-parent
                span.home__title-text.letters Сделаем сайт, который увеличит  количество заказов 
                span.home__title--accent.letters на 50-270%
            .home__subtitle.animated-parent
                .home__subtitle--other-wrap
                    .home__subtitle--other.animated за 7 дней экспертами
                .home__subtitle--other-wrap
                    .home__subtitle--other.animated с 10-ми летним опытом
            .home__text.animated 
                span Пройдите тест из 7 простых вопросов 
                | и узнайте эффективность сайта-квиза для Вашего бизнеса
            .home__btn
                .si-button-pulse 
                    a(href="#modalQuiz").btn.modal-open.blick
                        span.ident Пройти тест
            .agree
                img(src="img/agree.png", alt="agree")
                .agree__text Нажимая кнопку «оставить заявку», вы даете согласие на обработку персональных данных и соглашаетесь 
                    a(href="policy.html" target="_blank").agree__policy с политикой конфиденциальности
        .advantages
            .advantages__item
                .advantages__title Работаем 
                    span по  договору
                .advantages__text Подписываем договор <br> и обговариваем <br> сроки со всеми <br> клиентами
            .advantages__item
                .advantages__title 
                    span 20 МЛН. <br>
                    | РУБЛЕЙ
                .advantages__text Столько мы <br> заработали <br> нашим клиентам
            .advantages__item
                .advantages__title 5 лет 
                    span опыта
                .advantages__text Мы специалисты <br> в нашей области <br> и имеет опыт <br> работы более <br> 5-ти лет

