section.home
    .wrap
        .home__body
            .home__title Сделаем сайт, который увеличит  количество заказов 
                span на 50-270%
            .home__subtitle
                span за 7 дней экспертами
                span с 10-ми летним опытом

            .home__text 
                span Пройдите тест из 7 простых вопросов 
                | и узнайте эффективность сайта-квиза для Вашего бизнеса
            .home__btn
                a(href="#kviz").btn.modal-open 
                    span Оставить заявку
            .agree
                img(src="img/agree.png", alt="agree")
                .agree__text Нажимая кнопку «оставить заявку», вы даете согласие на обработку персональных данных и соглашаетесь 
                    span.agree__policy с политикой конфиденциальности
        .advantages
            .advantages__item
                .advantages__title Работаем 
                    span по  договору
                .advantages__text Подписываем договор  и обговариваем сроки со всеми клиентами
            .advantages__item
                .advantages__title 
                    span 20 МЛН.
                    | РУБЛЕЙ
                .advantages__text Столько мы заработали нашим клиентам
            .advantages__item
                .advantages__title 5 лет 
                    span опыта
                .advantages__text Мы специалисты в нашей области и имеет опыт работы более 5-ти лет

