footer.footer
    .wrap
        .rights ООО «Азбука Диджитал», 2012-2020 . 
        .footer__item Все права защищены ИНН 7710492060
        .footer__item ОГРН 1157746187059


script(src="js/scripts.min.js")
script(src="js/common.js")
