header
	.wrap
		.nav
			.logo
				img(src="img/logo.svg", alt="logo")
			.menu-wrap
				.menu-toggle 
					.one
					.two
					.three

				nav.main-menu 
					ul
						li
							a(href="#modalSupport").support.modal-open
								img(src="img/icons//support.png", alt="support").support__icon--desctop
								img(src="img/icons//support-mob.jpg", alt="support").support__icon--mob
								.support__text Поддержка клиентов
						li
							.social-text Мгновенная связь через: 
							.social
								a(href="#").social__item.social--viber
									img(src="img/icons/viber.svg", alt="viber")
									.text Viber
								a(href="#").social__item.social--telegram
									img(src="img/icons/telegram.svg", alt="telegram")
									.text Telegram
						li
							.header__adress ежедневно с 9:00 до 20:00
							a(href="tel:+74954123884").header__phone +7 (495) <span>/ 412-38-84</span>
			.mob
				a(href="tel:+74954123884").mob_phone 
					img(src="img/icons/phone.png", alt="phone")