section.home
    .wrap
        .home__body.animated-parent 
            .home__title
                span.home__title-text.letters Создание сайта с возможностью 
            .home__subtitle
                span.home__subtitle--other.letters бесконтактной доставки
                span.home__subtitle--other.letters и оплаты онлайн
            .home__text
                .home__price 
                    span 25.000 
                    | руб.
                | Откройте онлайн-продажи для Вашего бизнеса 
                span всего за 3 дня. 
                | Командой специалистов 
                br
                span всего за 
                span.text--cross 60.000 руб.
            .home__btn
                a(href="#modalSupport").btn.modal-open 
                    span Оставить заявку
                .home__tooltip.tooltip 
                    .tooltip__title Антикризисное  предложение *
                    .tooltip__body-wrap
                        .tooltip__body 
                            p Вы сэкономите, а бизнес получит возможность продолжить работу в кризис. 
                                span.text--bold Срок подключения составит 3 дня, если у вас имеются договоры с платежной системой, онлайн-кассой, ОФД и службами доставки. 
                            p В другом случае менеджер вас проконсультирует и вышлет бриф для получения всех необходимых данных, после чего мы подключим вас также быстро. 
                                span.text--bold Акция действительна с 8 по 30 апреля 2020 года.
            .agree
                img(src="img/agree.png", alt="agree")
                .agree__text Нажимая кнопку «оставить заявку», вы даете согласие на обработку персональных данных и соглашаетесь 
                    span.agree__policy с политикой конфиденциальности
        .complex
            .complex__title 
                span Дарим скидку 
                br
                | на комплект услуг:
            .complex__item
                .complex__icon
                    img(src="img/icons/payment.png", alt="payment")
                .complex__name 
                    span Подключение системы 
                    | приема платежей.
            .complex__item
                .complex__icon
                    img(src="img/icons/online-payment.png", alt="online-payment")
                .complex__name 
                    span Подключение онлайн-кассы 
                    | для отправки данных в фискальные органы и отправки чеков.
            .complex__item
                .complex__icon
                    img(src="img/icons/bank.png", alt="bank")
                .complex__name 
                    span Настройка модуля 
                    | автоматического 
                    br
                    | расчета доставки одной из транспортных компаний.
            .complex__item
                .complex__icon
                    img(src="img/icons/bank2.png", alt="bank")
                .complex__name 
                    span Настройка 
                    | и оптимизация процесса оформления заказа на сайте.



