#modalInfo1.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/01.png", alt="tarifs")
            .modal-tar__title Индивидуальный  дизайн сайта+ прототип!
            .modal-tar__text Персональный дизайн, сделанный специально под Ваш продукт или услугу. Упор на удобную структуру и привлекательное оформление блоков. Делаем веб-версию и мобильный вид сайта.
#modalInfo2.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/02.png", alt="tarifs")
            .modal-tar__title Адаптивная  верстка сайта
            .modal-tar__text Сейчас до 40-50% заходов на все сайты в интернете идет с мобильных устройств. Поэтому мы делаем адаптивную верстку сайта.
#modalInfo3.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/03.png", alt="tarifs")
            .modal-tar__title Подключение  форм
            .modal-tar__text Все заявки с Вашего сайта будут приходить к Вам на электронную почту в удобном формате, останется только набрать номер клиента и перезвонить.
#modalInfo4.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/04.png", alt="tarifs")
            .modal-tar__title Настройка Яндекс метрики  и Google Analytics
            .modal-tar__text Это сервисы для получения статистики сайта. Позволяет отследить все до мелочей: кто откуда и когда зашел, с какого устройства, по какому объявлению. Построение графиков, конверсии и отчетов.
#modalInfo5.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/05.png", alt="tarifs")
            .modal-tar__title SMS уведомления  о заявках
            .modal-tar__text Когда на Вашем сайте оставят заявку, то Вы получите уведомление на свой телефон в формате SMS-сообщения. Также можно сделать автоматическую отправку SMS-сообщения самому клиенту.
#modalInfo6.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/06.png", alt="tarifs")
            .modal-tar__title Админ-панель (CMS система) для управления сайтом
            .modal-tar__text Устанавливаем удобную админ-панель, через которую Вы сможете самостоятельно редактировать на сайте: текста, заголовки, акции, цены, фотографии и другую информацию. 
#modalInfo7.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/07.png", alt="tarifs")
            .modal-tar__title Интеграция с CRM  системой
            .modal-tar__text Вы не потеряете ни одной заявки и ни одного клиента. Интеграция заявок сайта с CRM системой позволяет автоматически создавать новые задачи и сделки, добавлять карточку клиента. и многое другое.
#modalInfo8.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/08.png", alt="tarifs")
            .modal-tar__title Мультилендинг
            .modal-tar__text Эта функция изменяет любой блок сайта под запрос из поисковой системы. Показывает точное соответствие того, что искал пользователь, за счет этого увеличивается вероятность того, что он оставит заявку.
#modalInfo9.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/09.png", alt="tarifs")
            .modal-tar__title Геотаргетинг
            .modal-tar__text Определяет откуда зашел посетитель и показывает информацию именно под его город. Особенно актуально если Ваша услуга или товар продаются в нескольких городах.
#modalInfo10.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/10.png", alt="tarifs")
            .modal-tar__title Сбор базы E-mail-адресов
            .modal-tar__text Интеграция форм обратной связи на сайте с сервисом рассылки. Все Ваши контакты будут автоматически попадать в списки подписчиков для дальнейших новостых и акционных рассылок.
#modalInfo11.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/11.png", alt="tarifs")
            .modal-tar__title Эквайринг (прием  платежей)
            .modal-tar__text Ваши клиенты смогут оплачивать заказы онлайн на сайте через популярные платежные системы: MasterCard, Visa, Яндекс Деньги, Cбербанк, Тинькофф, Приват24 и другие.
#modalInfo12.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/12.png", alt="tarifs")
            .modal-tar__title Разработка логотипа
            .modal-tar__text Логотип — ключевая особенность компании, услуги или товара, это то что отличает от конкурентов. Мы всегда относимся к этому с особым вниманием, потому что на этом основывается доверие клиентов.
#modalInfo13.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/13.png", alt="tarifs")
            .modal-tar__title Анимация элементов сайта
            .modal-tar__text Элементы на сайте будут оживленными, плавно двигаться и подсвечиваться. Это помогает привлечь внимание на важных конверсионных элементах, на которые посетитель должен обратить внимание.
#modalInfo14.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/14.png", alt="tarifs")
            .modal-tar__title IP телефония и коллтрекинг
            .modal-tar__text Позволяет соединить возможности обычной телефонии и сети Интернет. Поможет определить откуда пришел клиент, оценить прибыльность рекламных источников + узнать эффективно ли менеджеры обрабатывают заказы.
#modalInfo15.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/15.png", alt="tarifs")
            .modal-tar__title Настройка Яндекс.Директ и Google AdWord
            .modal-tar__text Профессионально настроим рекламу на Ваш сайт и займемся её ведением. У нас реальный практический опыт и результаты.
#modalInfo16.modal.modal-tar.disabled
    .modal__wrap  
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal-tar__pic
                img(src="img/tarifs/16.png", alt="tarifs")
            .modal-tar__title Виджеты обратного  звонка, онлайн чат
            .modal-tar__text Дополнительные фишки для повышения конверсии. Скорее всего Вы их уже встречали в интернете: на сайте иконка трубки и предлагают перезвонить через 26 секунд или онлайн чат, в котором предлагают помочь.