section.home.promo-home
    .wrap
        .promo-home__body
            .promo-home__title Доброе утро, 
                span.promo-home__hash #работаемдома, 
                span.promo-home__title--accent создаем сайты, 
                span.promo-home__title--other которые 
                    span.br-desctop приносят результат
            .promo-home__links
                a(href="#") Разработка сайта
                a(href="#") Настройка рекламы
                a(href="#") Антикризисные меры
                a(href="#") Сопровождение 1С Битрикс
            .promo-home__text
                span.promo-home--bold Azbuka Digital - <span class="br-mob"><br></span>
                | команда, команда, которая знает, что дальше.  <span class="br-mob"><br></span>Посмотрите 
                a(href="#").promo-home__link наши работы
                | и просто 
                a(href="#").promo-home__link позвоните нам.





